<html lang="sv">
  <head>
    <link rel="stylesheet" href="/highscore.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fascinate&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>

  <body>

    {{{body}}}
    <script src="/highscorelist.js"></script>
  </body>
</html>