:root {
  font-family: 'Jaro', sans-serif;
  letter-spacing: 0.2rem;
    color: #ffffff;
    background: linear-gradient(45deg, #ff6ec7, #ff9a8b, #f6d365, #fda085);
}

.navbar ul {
list-style: none;
display: flex;
margin-left: 2rem;
  
}

.navbar ul li {
  margin: 2rem;
}

.navbar ul li a{
  color: white;
}

.navbar ul li a:hover{
  color: rgb(126, 126, 126);
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-width: 320px;
  min-height: 100vh;
  height: 100%;   
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000000,  #636262);
  border: solid 1px rgb(255, 255, 255);
  height: 30rem;
  width: 20rem;


  @media (min-width: 768px) {
width:30rem ;
  }
}


.letter-input {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.letter-input-field {
  width: 2rem;
  height: 2rem;
  margin: 0.1rem;
  font-size: 3rem;
  text-align: center; 
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 3rem;
  height: 3rem;
      }
}

.word-input {
  height: 2rem;
  width: 15rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.add-word-button {
  width: 5rem;
  height: 1.5rem;
  border: solid rgb(134, 134, 134) 0.1rem;
  margin-top: 1rem;
  background-color: white;
  font-size: 1rem;
  transition: all 0.1s ease;
}

.add-word-button:hover {
  background-color: rgb(220, 220, 220);
}

.add-word-button:active {
  transform: translateY(1px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}