:root {
  font-family: 'Jaro', sans-serif;
  letter-spacing: 0.2rem;
 color: #ffffff;
}



body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-width: 320px;
  min-height: 100vh;
  height: 100%;   
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000000,  #ffffff);
  border: solid 1px black;
  height: 30rem;
  width: 20rem;


  @media (min-width: 768px) {
width:30rem ;
  }
}


.letter-input {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.letter-input-field {
  width: 2rem;
  height: 2rem;
  margin: 0.1rem;
  font-size: 3rem;
  text-align: center; 
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 3rem;
  height: 3rem;
      }
}

.word-input {
  height: 2rem;
  width: 15rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}